body {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
	color: #36769C;
	text-shadow:#ddd 3px 2px 3px;
}

div#header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

div.colmid, div.colleft {
	border-right: 1px dotted;
}

div.col2 {
	margin-top: 1em;
}

a {
    color: #36769C;
    text-decoration: none;
}

a:hover {
    color:#000;
    text-shadow:#ddd -1px -1px 3px;
}

